body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #0499ff;
    text-decoration: underline;
}

    a:hover {
        color: white;
    }

/* Section Styles */
.main-nav {
    width: 100%;
    /*background: black;*/
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

    .nav .name {
        display: none;
    }

    .nav li {
        padding: 5px 10px 10px 10px;
    }

    .nav a {
        transition: all .5s;
    }

        .nav a:hover {
            color: white
        }


.main-nav {
    width: 100%;
    /*background: black;*/
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

    .nav .name {
        display: none;
    }

    .nav li {
        padding: 5px 10px 10px 10px;
    }

    .nav a {
        transition: all .5s;
    }

        .nav a:hover {
            color: white
        }

header {
    text-align: center;
    background: url('https://placeimg.com/640/480/tech') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}


header {
    line-height: 1.5;
}

    header .profile-image {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid white;
        transition: all .5s;
    }

        header .profile-image:hover {
            transform: scale(1.5) rotate(360deg);
        }

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
}

    thead th {
        background: grey;
        color: black;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

tr {
    background: lightgrey;
    color: black;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

#blank {
    background-color: grey;
}

th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size: 18px;
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 1000px;
    text-align: left;
    background: black;
    /*border-bottom: 4px solid #ccc;*/
    border-radius: 6px;
}

    .card:hover {
        transform: scale(1.1);
        border-color: black;
        color: black;
        background: darkgrey;
        border: 2px solid white;
    }

.flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
}

.ResumeLink {
    align-content: center;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }

    header {
        min-height: 450px;
    }

        header.name {
            border-color: black;
        }

    .nav {
        max-width: 1200px;
    }

        .nav .name {
            display: block;
            margin-right: auto;
            color: white;
        }

    main {
        padding-top: 50px;
    }

        main p {
            line-height: 1.6em;
        }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }
}
